<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - DriveHub</title>
    <link rel="icon" href="/images/logo.jpg">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
        }
        .header a:hover {
            background-color: #e9ecef;
        }
        .header {
            background-color: #333;
            color: white;
            padding: 15px 0; /* Decrease header padding */
            display: flex;
            align-items: center;
            height: 70px; /* Fixed height for header */
            width: calc(100% - 0px); /* Adjusted width to fit logo and text */
            margin: 0 auto; /* Center the header */
            border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
        }

        .logo {
            margin-left: 10px;
        }

        .header-text {
            flex-grow: 1;
            text-align: center;
            font-size: 24px; /* Adjust font size */
            margin-left: -5px; /* Slightly move the "Contact Us" text to the left */
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 32px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .contact-info {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      
        .header a:hover {
            background-color: #e9ecef;
        }
        .email {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

        .footer {
            background-color: #333;
            color: white;
            text-align: center;
                        padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="header">
        <a href="/register_login"> <img src="/images/logo.jpg" alt="Company Logo" class="logo" height="50px" width="150px"></a>
        <div class="header-text">
            <h1>Contact Us Here for More Information </h1>
        </div>
    </div>

    <div class="container">
        <div class="contact-info">
            <p>If you have any inquiries or require assistance, please feel free to contact us via email:</p>
            <p class="email">Email: <a href="mailto:drivehub.service@gmail.com">drivehub.service@gmail.com</a></p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2024 DriveHub. All rights reserved.</p>
    </div>
</body>
</html>